/*
Theme Name: HK Theme Developer
Theme URI:  http://thietkeweb88.net
Author: Khanh Bui
Author URI: http://thietkeweb88.net
Description: This theme is an engaging WordPress theme that is designed to help boost social shares and get you more viral traffic from the web’s top social media websites.
Version: 1.0.2
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: hkt
Template: hktheme
*/

/* add style home page*/
.home_form_contact{margin-top: 20px;}
.products .product-category img{max-height: 217px;}
#menu-main-menu{display:flex; justify-content:space-between;}