@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Regular';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: MONTSERRAT;
    src: url("../fonts/MONTSERRAT-LIGHT.OTF") format("opentype")
}

@font-face {
    font-family: MONTSERRAT;
    font-weight: bold;
    src: url("../fonts/MONTSERRAT-BOLD.OTF") format("opentype")
}

@font-face {
    font-family: MONTSERRAT;
    font-weight: 500;
    src: url("../fonts/MONTSERRAT.OTF") format("opentype")
}

@font-face {
    font-family: MONTSERRAT;
    font-weight: 900;
    src: url("../fonts/MONTSERRAT-SEMIBOLD.OTF") format("opentype")
}

@font-face {
    font-family: 'UTM Neo';
    src: url('../fonts/UTM Neo Sans Intel.ttf') format("truetype");
    ;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'UTM Neo Bold';
    src: url('../fonts/UTM Neo Sans IntelBold.ttf') format("truetype");
    ;
    font-weight: 400;
    font-style: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html body {
    font: 14px/26px MONTSERRAT;
    background-color: inherit;
}

div#wrapper {
    max-width: none;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: inherit;
}

@media (min-width: 1600px) {
    div#wrapper {
        max-width: 1598px;
        box-shadow: 0 0 15px 0 rgba(136, 136, 136, 1);
        -webkit-box-shadow: 0 0 15px 0 rgba(136, 136, 136, 1);
        -moz-box-shadow: 0 0 15px 0 rgba(136, 136, 136, 1);
    }
    div#primary-navigation.sticky-navigation-active {
        max-width: 1598px;
    }
}

@media (min-width: 1200px) {
    #page,
    .main-container,
    #copyright-note {
        width: 1170px;
        max-width: none;
    }
    .hkt-container,
    .container {
        width: 1170px;
        margin: 0 auto;
        max-width: 100%;
    }
    #site-header .container,
    #primary-navigation .navigation {
        width: 90%;
        margin: 0 auto;
        float: none;
    }
    body.home #page,
    body.home .main-container {
        width: 100%;
    }

    #primary-navigation.sticky-navigation-active {}
}

@media (max-width: 1199px) {
    #site-header .container,
    .main-container,
    .hkt-banner {
        max-width: 98%;
    }
    #site-header {
        width: 98%;
        float: none;
        margin: 0 auto;
    }
    #hk-site-footer,
    footer#site-footer,
    div#copyrights,
    div.topbar,
    section.cat-box.list-box {
        max-width: 98%;
        margin: 0 auto;
    }
    div#copyrights {
        float: none;
        overflow: hidden;
    }
}

.sidebar.c-4-12,
.home-h2 .sidebar.c-4-12,
.article,
.home-h2 .article {
    max-width: 100%;
}

.hkt-left-sidebar .sidebar,
.hkt-right-sidebar .sidebar {
    padding: 0;
}

@media (min-width: 721px) {
    .sidebar.c-4-12,
    .home-h2 .sidebar.c-4-12 {
        width: 25%;
    }
    .article,
    .home-h2 .article {
        width: 75%;
    }
    .hkt-left-sidebar .sidebar {
        padding: 0 30px 0 0;
    }
    .hkt-right-sidebar .sidebar {
        padding: 0 0 0 30px;
    }
}

.archive .hkt-left-sidebar .article,
.archive .hkt-right-sidebar .sidebar {
    float: right;
}

.archive .hkt-left-sidebar .sidebar,
.archive .hkt-right-sidebar .article {
    float: left;
}

div#page,
div#page.single,
#page.error,
.woocommerce #page {
    padding: 0;
    margin-top: 25px;
    box-shadow: none;
}

#page,
#page.single,
.woocommerce #page {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 0;
    min-height: 600px;
}

#page #sidebar {
    background-color: inherit;
}


/*-- Front Page --*/

body.home #page {
    margin: 0;
    padding: 0;
}

body.home .ss-full-width {
    padding: 0;
}

body.home .ss-full-width,
body.home .main-container #page.single,
body.home #page.error,
body.home .woocommerce #page {
    background: inherit;
}

* p {
    margin-bottom: 10px;
}

blockquote {
    font-size: 14px;
    font-style: italic;
}

blockquote:after {
    font-size: 11px;
}

input,
textarea,
select {
    max-width: 100%;
    padding: 10px !important;
    border: 1px solid #cccccc;
    color: #323232;
}

.thecontent,
.entry-content {
    text-align: justify;
}


/*-- FONT --*/

.copyrights .widget_text h4 {
    font-family: "MONTSERRAT"!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
#page.product-page .latestPost .title,
#page.product-page .latestPost .title a,
.navigation a,
.navigation ul li a,
#topbar,
#topbar a,
.whychoose h4,
.whychoose blockquote {
    font-family: "MONTSERRAT"!important;
}

.sidebar.c-4-12 a,
article.latestPost .title,
article.latestPost .title a,
article.latestPost .view-more,
.post-box-title a,
.entry .view-more {
    font-family: "MONTSERRAT"!important;
}


/*-- COLOR --*/

a:hover,
.post-box-title a:hover,
.hkt-posts .view-more:hover,
.hkt-posts .view-all:hover {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #639c99 !important;
}

html body,
.navigation li,
.navigation li a,
.sidebar.c-4-12 a,
article.latestPost .title,
article.latestPost .title a,
.post-box-title a,
.hkt-section h3 {
    color: #2b2b2b;
}

.postsby a,
.entry-title a,
.page-title a {
    color: #424242;
}

nav.navigation ul li.current-menu-item>a,
nav.navigation li.current-menu-ancestor>a,
nav.navigation ul li:hover>a,
.copyrights .widget_text p span {
    color: #ff7373!important;
}

#topcontrol,
input.wpcf7-submit,
article.latestPost .view-more {
    background: #991c1f;
}

.header-right,
.header-right p,
.header-right a {
    color: #ffffff;
}


/*-- DISPLAY --*/

body.lg-on #wpadminbar,
#commentsAdd,
a.toplink,
.single-prev-next,
.woocommerce-breadcrumb,
div.copyrights,
.hkt-minicart .amount {
    display: none;
}

@media screen and (min-width: 865px) {
    .page-template-landing-page #primary-navigation {
        display: none;
    }
    .page-template-landing-page #hkt-navigation {
        display: block;
    }
}

@media screen and (max-width: 864px) {
    div#wpadminbar,
    #hkt-navigation {
        display: none;
    }
}

.post-type-archive-product h1.page-title {
    display: block;
}


/*-- Back To Top --*/

#topcontrol {
    z-index: 999;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    bottom: -100px;
    right: 20px;
    cursor: pointer;
    overflow: auto;
    opacity: 0.7;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#topcontrol:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
}


/*-- HKT Share Post --*/

.thecontent .share-post {
    float: left;
    margin: 0;
}

div.share-post span.share-text {
    display: none;
}

div.hk-share-post {
    clear: both;
}

div.hk-share-post ul {
    list-style: none;
    margin: 0;
}

div.hk-share-post ul li {
    width: 128px;
    margin-right: 3px;
    line-height: 1;
    float: left;
}

#page,
#page.single,
.woocommerce #page,
.home-h2 .sidebar.c-4-12,
article.latestPost,
.sidebar .widget {
    box-shadow: none;
}

.nopad {
    padding: 0!important;
}

.nomar {
    margin: 0!important;
}


/*
* HEADER
* ----------------------------------------------------------------------------*/

#topbar {
    overflow: hidden;
    background-color: #000000;
}

@media (min-width: 721px) {
    #topbar {
        line-height: 35px;
    }
}

@media (max-width: 720px) {
    #topbar * {
        float: none;
        text-align: center;
    }
}

#topbar * {
    color: #c7c5c5;
    font-size: 12px;
}

#site-header {
    background-color: #fff;
    z-index: 999;
}

@media screen and (max-width: 728px) {
    .logo-wrap {
        position: relative;
        margin: 0;
    }
}

#logo img {
    max-height: 40px;
    width: 150px;
}

#header,
#primary-navigation {
    float: none;
    max-width: none;
    clear: both;
}

#header h1,
#header h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}


/*--  --*/

.admin-bar #site-header.sticky-header-active {
    top: 32px;
}

#site-header.sticky-header-active {
    z-index: 500;
    position: fixed;
    top: 0;
    margin: 0 auto !important;
    -webkit-backface-visibility: hidden;
    max-width: 1598px;
}

form#searchform .fa-search {
    width: 42px;
    height: 42px;
}

button.sbutton,
#searchsubmit {
    top: auto;
}


/*-- Navigation --*/

@media (min-width: 721px) {
    div#primary-navigation,
    nav.navigation ul ul {
        background-color: #509492;
    }
}

div#primary-navigation li a {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial !important;
}

div#primary-navigation .navigation:not(.mobile-only) ul.menu>li>a {
    padding: 17px 15px;
}

div#primary-navigation .navigation:not(.mobile-only) ul li.menu-item-has-children>a {
    padding-right: 45px;
}

li.menu-item-has-children>a:after {
    right: 5px;
}

ul.sub-menu li.menu-item-has-children>a:after {
    right: 6px;
}

.navigation ul li li,
.navigation ul ul a,
.navigation ul ul a:link,
.navigation ul ul a:visited {
    width: 100%;
}

.navigation ul li.current-menu-item,
.navigation ul li:hover {
    background-color: inherit;
}


/*nav.navigation ul li.current-menu-item > a, nav.navigation li.current-menu-ancestor > a, nav.navigation ul li:hover > a {color: #f39536!important;}*/

.navigation ul li:hover ul li a {
    color: #333333!important;
}

.navigation ul li:hover ul li:hover a {
    color: #ff7373!important;
}

.navigation:not(.mobile-only) ul ul {
    width: 250px;
    background: #f2f2f2;
    border-top: 3px solid #991c1f;
}

.navigation:not(.mobile-only) ul ul a,
.navigation:not(.mobile-only) ul ul a:link,
.navigation:not(.mobile-only) ul ul a:visited {
    color: #333333;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    text-transform: none;
    text-align: left;
}

nav.navigation:not(.mobile-only) ul ul {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 3px #dddddd;
    border-top: 1px solid #dddddd;
    margin: 0;
    width: 200px;
}

nav.navigation ul ul ul {
    left: 200px;
    margin-top: 0;
}

div#primary-navigation nav.navigation:not(.mobile-only) ul ul li {
    border-bottom: 1px solid #dddddd;
}

div#primary-navigation nav.navigation:not(.mobile-only) ul ul li a {
    color: #2b2b2b;
    font-weight: normal;
    padding: 10px;
    width: 200px !important;
    z-index: 210;
    position: relative;
}

@media screen and (max-width: 865px) {
    .navigation .menu a,
    .navigation .menu .fa>a,
    .navigation .menu .fa>a {
        color: #2b2b2b!important;
        background: transparent;
    }
}

#hkt-navigation {
    float: left;
    padding-left: 25px;
}

#hkt-navigation .navigation ul.menu>li {
    line-height: 60px;
}

div#hkt-navigation .navigation:not(.mobile-only) ul.menu>li>a {
    padding: 0 10px;
}

#hkt-navigation .navigation ul li:hover {
    background: none;
}

#hkt-navigation .navigation ul.sub-menu li {
    border-bottom: 1px solid #cfcfcf;
}

#hkt-navigation .navigation ul.sub-menu li:hover {
    background: rgba(0, 0, 0, 0.08);
}

.navigation li.menu-item-home a {}

.navigation li.menu-item-home a i {
    font-size: 28px;
    vertical-align: initial;
    transform: translateY(3px);
}

#hkt-navigation .description {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-top: 3px solid;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px 10px 5px;
    max-width: 780px;
    width: 780px;
    min-height: 290px;
    text-align: left;
}

#hkt-navigation .navigation ul li:hover .description {
    display: block;
}

#hkt-navigation .description .widget {
    margin: 0;
}

#hkt-navigation .description .textwidget ul {
    width: auto;
    display: block;
    border: none;
    position: unset;
}

#hkt-navigation .description .textwidget ul li {
    width: 25%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 10px 25px;
}

#hkt-navigation .description .textwidget ul li a {
    padding: 0;
    color: rgba(0, 0, 0, .6)!important;
    text-align: center;
    line-height: 1.25em;
    font-weight: bold;
}

#hkt-navigation .description .textwidget ul li a:hover {
    color: #337ab7!important;
}

#hkt-navigation .navigation li a {
    color: #ffffff;
}


/*MaxMega*/

#mega-menu-wrap-primary-menu #mega-menu-primary-menu p {
    margin-bottom: 5px;
}

nav.navigation ul li.mega-current-menu-item>a {
    color: #fff!important;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu>li.mega-menu-megamenu>ul.mega-sub-menu {
    left: auto;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item h4.mega-block-title {
    text-transform: none;
    font-size: 14px;
}

div#primary-navigation ul.mega-sub-menu li a {
    font-size: 14px;
    font-family: "UTM Neo"!important;
    font-weight: normal;
    padding: 0;
}


/* MITSSY */

#primary-navigation .navigation.mobile-menu-wrapper {
    background-color: #ffffff!important;
}

#mega-menu-item-78 a,
#menu-item-78 a {
    position: relative !important;
    padding-right: 25px!important;
}

#mega-menu-item-78 a:after,
#menu-item-78 a:after {
    content: "\f004";
    font: normal normal normal 16px/1 FontAwesome !important;
    color: #f00000 !important;
    position: absolute;
    top: 15px;
    right: 8px;
    left: auto;
    display: inline-block!important;
    vertical-align: inherit;
}

.header-inner-mobile {
    display: none;
}

@media (max-width: 720px) {
    .header-right {
        display: none;
    }
    .header-inner-mobile {
        display: block;
        float: right;
        position: absolute;
        top: 0;
        right: 8px;
        line-height: 57px;
        width: 80px;
    }
    .header-inner-mobile.large {
        width: auto;
        z-index: 999;
    }
    .header-inner-mobile .search-form #search_mini_form_m {
        display: none;
    }
    .header-inner-mobile .search-form #search_mini_form_m.show {
        display: block;
    }
    .header-inner-mobile a {
        color: #ffffff;
        font-size: 150%;
        float: right;
    }
    .header-inner-mobile #search_mini_form_m .search_form_mini {
        padding-top: 14px;
    }
    .header-inner-mobile #search_mini_form_m #cancel_search_m {
        display: inline-block;
        color: #ffffff;
        float: left;
        line-height: 23px;
        margin-left: 5px;
        padding: 5px;
        background-color: #dddddd;
        color: #333333;
        cursor: pointer;
    }
    .header-inner-mobile .search-form {
        float: left;
        width: 250px;
    }
    .header-inner-mobile .search-form input {
        vertical-align: baseline;
        float: left;
        height: 30px;
    }
    #search_mini_form_m .search_form_mini input[type="text"] {
        height: 100%;
        border: none;
        font-size: 12px;
        padding-left: 12px;
        text-indent: 5px;
        width: 65%;
    }
    #search_mini_form_m input.cmdsearch {
        height: 33px;
        border: none;
        vertical-align: top;
        margin-left: -5px;
        cursor: pointer;
    }
}

.tool-search,
.task-bar,
.hkt-minicart {
    float: left;
    height: 56px;
    position: relative;
}

.hkt-minicart {
    padding-left: 8px;
}

.hkt-minicart a {
    font-size: 15px;
    font-weight: normal;
}

.task-bar {
    float: left;
    text-align: center;
}

.task-bar>ul>li {
    text-align: center;
    display: inline-block;
    padding: 0 8px;
    line-height: 56px;
}

.phone-text {
    font-weight: bold;
    line-height: 56px;
    font-size: 16px;
}

@media (min-width: 992px) {
    .tool-search {
        min-width: 350px;
    }
    .task-bar {
        padding: 0 20px;
        border: solid #fff;
        border-width: 0 1px;
    }
    .phone-text {
        text-align: right;
        padding-right: 30px;
    }
}

.search-form {
    position: relative;
}

#search_mini_form {
    padding-right: 12px;
    transition: width 0.3s ease-out;
    overflow: hidden;
    text-align: right;
}

#search_mini_form .search_form_mini {
    padding-top: 10px;
}

#search_mini_form .search_form_mini input[type="text"] {
    height: 100%;
    border: none;
    font-size: 12px;
    padding-left: 12px;
    text-indent: 25px;
    width: 65%;
}

#search_mini_form input.cmdsearch {
    height: 37px;
    border: none;
    vertical-align: top;
    margin-left: -5px;
    cursor: pointer;
}

.search-form #search_mini_form,
#search_mini_form #cancel_search {
    display: none
}

.search-form #search_mini_form.show {
    display: block;
}

@media (min-width: 992px) {
    .flex-control-nav.flex-control-paging {
        position: relative;
        top: -25px;
    }
}

.main-container .metaslider .flexslider {
    margin: 0;
}


/*
* SIDEBAR
* ----------------------------------------------------------------------------*/

.sidebar .widget {
    padding: 10px 0;
    margin-bottom: 15px;
}

.sidebar .widget:first-child {
    padding-top: 0;
}

.sidebar .widget>h3 {
    padding: 7px 15px;
    background-color: #f4f4f4;
    border-left: 5px solid #991c1f;
}

.widget li {
    margin-bottom: 0;
}

.sidebar.c-4-12 .advanced-recent-posts li,
.sidebar.c-4-12 .popular-posts li,
.sidebar.c-4-12 .category-posts li,
.sidebar.c-4-12 .related-posts-widget li,
.sidebar.c-4-12 .author-posts-widget li {
    padding: 0;
    margin-bottom: 15px;
}


/*
* MAIN
* ----------------------------------------------------------------------------*/


/*-- All web --*/

div.fb-comments,
div.fb-comments span,
div.fb-comments iframe {
    width: 100% !important;
    margin-bottom: 0;
}

.entry-content h2 {
    font-size: 20px;
}

.entry p {
    text-align: justify;
}

article .breadcrumb,
.article .breadcrumb {
    margin: 0 0 10px;
    padding: 3px;
    background-color: #f4f4f4;
    color: #666666;
    font-style: italic;
}

span.thetime {
    text-transform: lowercase;
}

div.post-info>span,
.widget .vertical-small .post-info>span {
    margin-right: 5px;
    font-size: 12px;
}

div.single article header {
    margin-bottom: 0;
}

article.latestPost header {
    min-height: 20px;
}

h1.postsby,
h1.entry-title,
h1.page-title {
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
}

h1.entry-title,
h1.page-title {
    margin-bottom: 3px;
}

div.page h1.title {
    margin-bottom: 10px;
}

h1.postsby {
    margin-bottom: 10px;
    margin-top: 15px;
}

div#page article .postsby {
    margin-bottom: 15px;
}

.hkt-banner {
    margin: 0 auto;
}


/*-- Related --*/

div.article .latestPost .title,
div.article .latestPost .title a {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0;
}

div.related-posts .latestPost .title,
div.related-posts .latestPost .title a {
    font-size: 16px;
}

div.related-posts h4 {
    margin-bottom: 20px;
    font-size: 19px;
    padding-bottom: 5px;
    border-bottom: 2px solid #008000;
}

div.related-posts header {
    padding: 10px;
}


/*-- Contact Form 7 --*/

div.line {
    overflow: hidden;
    margin-bottom: 20px;
}

div.line>span:first-child {
    float: left;
    font-size: 13px;
    width: 155px;
}

div.line select {
    min-width: 110px;
    height: 30px;
}

div.line textarea {
    height: 60px;
}

div.line.read input {
    border: none;
    font-weight: bold;
}

div.hkspan6>p {
    font-size: 18px;
    font-weight: bold;
}

form.wpcf7-form h3 {
    border-bottom: 2px solid #008000;
    font-size: 22px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

form.wpcf7-form input.wpcf7-submit:hover {
    cursor: pointer;
}

.single_post div.wpcf7 {
    margin-top: 20px;
}

input.wpcf7-submit {
    cursor: pointer;
    border: none;
    color: #ffffff;
    padding: 3px;
    border-radius: 3px;
}

.wpcf7-form-control-wrap input:not([type="submit"]),
.wpcf7-form-control-wrap select,
.wpcf7-form-control-wrap textarea {
    width: 330px;
}

.wpcf7-form-control-wrap textarea {
    height: 100px;
}

.wpcf7-form .wpcf7-response-output {
    margin-top: 50px;
}


/*-- Contact Form 7 - AVC --*/

.hkt-tag.form {
    background: #ececec !important;
    padding: 30px 45px !important;
}

.hkt-tag .wpcf7 {
    overflow: hidden;
    margin-top: 30px;
}

.hkt-tag.form h3 {
    font-size: 26px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.hkt-tag.form p {
    text-align: center;
}

.wpcf7 .right {
    padding-left: 45px;
}

.wpcf7 .right input,
.wpcf7 .right textarea {
    width: 100%;
    max-width: 100%;
}

.wpcf7 .right textarea {
    min-height: 97px;
}

.wpcf7 .left div.line {
    width: 45%;
}

.wpcf7 .left div.line:nth-child(2n) {
    float: right;
}

.wpcf7 .left div.line:nth-child(2n+1) {
    float: left;
}

.wpcf7 .hkt-span12.submit {
    width: 100%;
    text-align: center;
}

.wpcf7 .hkt-span12.submit input {
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: bold;
}


/*-- HKT Posts Style --*/

.post-thumbnail {
    position: relative;
    float: none;
    overflow: hidden;
}

.post-box-title {
    line-height: 23px;
    padding: 15px 0;
}

.post-box-title a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.entry .view-more {
    font-size: 14px;
    color: #3e3e3e;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
}


/*-- List News Full-Width --*/

.home-h2 .latestPost {
    width: 100%;
    margin: 0 0 50px;
    float: none;
    overflow: hidden;
}

.featured-thumbnail {
    position: relative;
    float: none;
}

.featured-thumbnail .post-time {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    text-align: center;
    color: #ffffff;
    line-height: 18px;
}

.featured-thumbnail .post-time strong {
    font-size: 24px;
    font-weight: bold;
}

.featured-thumbnail .post-time span {
    font-size: 14px;
}

.latestPost header {
    padding: 22px 0 20px;
}

article.latestPost .title,
article.latestPost .title a {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 26px;
}

article.latestPost .post-excerpt {
    float: left;
    width: 100%;
}

article.latestPost .view-more {
    padding: 5px 15px;
    color: #ffffff;
    border-radius: 5px;
    float: right;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}


/*-- Parallax --*/

#parallax {
    width: 100%;
    position: relative;
    padding-bottom: 0;
    height: auto;
    margin-bottom: 0;
    overflow: hidden;
    background-size: cover;
}


/*-- hkt section --*/

.hkt-section {
    position: relative;
    width: 100%;
    min-height: 10px;
    float: left;
    padding: 15px 0;
}

.hkt-section h3 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: none;
    border: none;
    margin: 0 auto 10px;
    display: table;
    position: relative;
}

.hkt-section .widget {
    margin-bottom: 0;
}

article .hkt-section ul {
    list-style-type: none;
    margin: 0;
}

article .hkt-section ul li {
    list-style: none;
    margin: 0;
}

@media (max-width: 864px) {
    .hkt-section h3 {
        line-height: 45px;
    }
}

@media (min-width: 721px) {
    .list ul li br {
        display: none;
    }
    .list ul li {
        width: 100%;
        overflow: hidden;
        margin-bottom: 30px !important;
    }
    .list ul li>a {
        display: block;
        width: 40%;
        float: left;
        margin-right: 25px;
    }
}


/*-- MITSSY --*/

.hkt-section h3 {
    background-color: #ffffff;
    padding: 0 8px;
    z-index: 99
}

.hkt-section hr {
    width: 100%;
    margin: -25px 0 20px;
    border-bottom: 1px solid #cccccc;
}

.hkt-section h4 {
    color: #222222;
    font-size: 26px;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
}

#testi .testi_users {
    text-align: center;
}

#testi .testi_users .img_user {
    transition: all 0.25s ease-out;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 24px;
    height: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 4px
}

#testi .testi_users .img_user>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#testi .testi_users .img_user.active {
    width: 48px;
    height: 48px;
    padding-top: 0px;
    padding-bottom: 0px
}

#testi .testi_users.img_user.active>img {
    border-radius: 24px
}

#testi .testi_users .img_user.active .mask {
    display: none
}

#testi .testi_users .img_user .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.6)
}

#testi .testi_info .info {
    display: none
}

#testi .testi_info .info>p {
    text-align: center
}

#testi .testi_info .info .name {
    text-transform: uppercase;
    font-weight: bold;
    color: #B7B7B7
}

#testi .testi_info .info.active {
    display: block;
}

@media (min-width: 865px) {
    #testi .testi_users {
        height: 60px;
    }
    #testi .testi_info .info.active {
        height: 80px;
    }
}

.product-we-love h3 {
    font-size: 28px;
    color: #000000;
    border-bottom: 1px solid #666666;
    margin-top: 20px;
    margin-bottom: 40px;
}


/*
* WOOCOMMERCE
* ----------------------------------------------------------------------------*/

.woocommerce-breadcrumb,
.woocommerce ul.products li.product .button {
    display: none!important;
}

.woocommerce .page-title,
.woocommerce-result-count,
.woocommerce-ordering,
.woocommerce-result-count,
.screen-reader-text {
    display: block;
}

.pagination a,
.pagination .dots,
.latestPost-review-wrapper,
.single_post .thecategory,
.single-prev-next a:hover,
.tagcloud a:hover,
#commentform input#submit:hover,
.contactform #submit:hover,
.post-label,
.latestPost .review-type-circle.review-total-only,
.latestPost .review-type-circle.wp-review-show-total,
.bypostauthor .fn:after,
#wpmm-megamenu .review-total-only,
.owl-controls .owl-dot.active span,
.owl-controls .owl-dot:hover span,
.owl-prev,
.owl-next,
.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce button.button,
.woocommerce-page button.button,
.woocommerce input.button,
.woocommerce-page input.button,
.woocommerce #respond input#submit,
.woocommerce-page #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page #content input.button,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce .bypostauthor:after,
#searchsubmit,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li span.current,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce button.button,
.woocommerce-page button.button,
.woocommerce input.button,
.woocommerce-page input.button,
.woocommerce #respond input#submit,
.woocommerce-page #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page #content input.button,
.woocommerce input#coupon_code,
.woocommerce input.qty.text {
    background-color: #ffffff!important;
    color: #333333!important;
    font-size: 16px;
    border: 1px solid #666666;
    line-height: 1.15!important;
}

.woocommerce a.button:hover,
.woocommerce-page a.button:hover,
.woocommerce button.button:hover,
.woocommerce-page button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce input#coupon_code:hover,
.woocommerce input.qty.text:hover {
    background-color: #ffffff;
    border-color: #f00000;
}

.woocommerce input.button,
.woocommerce input#coupon_code,
.woocommerce input.qty.text {
    border-radius: 3px;
}

.woocommerce h1.page-title {
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #cfcfcf;
    padding: 10px 0 25px;
    color: #000000;
    font-size: 28px;
}

.woocommerce .products ul,
.woocommerce-page .products ul,
.woocommerce ul.products,
.woocommerce-page ul.products {
    padding-top: 0;
    border: none;
    list-style-type: none;
    margin-right: -15px;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    float: left;
    margin: 0;
    padding-right: 25px;
    position: relative;
}

.woocommerce ul.products.owl-carousel,
.woocommerce ul.products.owl-carousel li.product {
    padding-right: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.archive.woocommerce:not(.home) ul.products li.product a {
    display: block;
    box-shadow: 5px 5px 10px #999999;
    border-radius: 10px;
}

.archive.woocommerce:not(.home) ul.products li.product a img {
    border-radius: 10px 10px 0 0;
}

@media (min-width: 865px) {
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 25%;
    }
    .woocommerce ul.products li.product:not(.product-category):nth-child(4n+1),
    .woocommerce-page ul.products li.product:not(.product-category):nth-child(4n+1) {
        clear: left;
    }
    .woocommerce ul.products li.product.col-md-2,
    .woocommerce-page ul.products li.product.col-md-2 {
        width: 16.66666667%;
        ;
    }
    .woocommerce ul.products li.product.col-md-3,
    .woocommerce-page ul.products li.product.col-md-3 {
        width: 25%;
    }
    .woocommerce ul.products li.product.col-md-4,
    .woocommerce-page ul.products li.product.col-md-4 {
        width: 33.33333333%;
    }
    .woocommerce ul.products li.product.col-md-5,
    .woocommerce-page ul.products li.product.col-md-5 {
        width: 41.66666667%;
    }
    .woocommerce ul.products li.product.col-md-6,
    .woocommerce-page ul.products li.product.col-md-6 {
        width: 50%;
    }

    .woocommerce ul.products li.product-category.product {
        width: 33.33333333%;
    }

    .woocommerce ul.products li.product.col-md-span5,
    .woocommerce-page ul.products li.product.col-md-span5 {
        width: 20%;
    }
}

@media (min-width: 721px) and (max-width: 864px) {
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 33.33333333%;
    }
    .woocommerce ul.products li.product:nth-child(3n+1),
    .woocommerce-page ul.products li.product:nth-child(3n+1) {
        clear: left;
    }
}

@media (max-width: 720px) {
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 50%;
    }
    .woocommerce ul.products li.product:nth-child(2n+1),
    .woocommerce-page ul.products li.product:nth-child(2n+1) {
        clear: left;
    }
}

@media (max-width: 400px) {
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 100%;
    }
}

.woocommerce ul.products li.product a img {
    margin: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    clear: both;
    font-size: 16px;
    color: #333333;
    padding: 1em 0 .5em;
    margin: 0;
    font-family: 'UTM Neo'!important;
    font-size: 14px;
}

@media (max-width: 550px) {
    .woocommerce ul.products li.product .woocommerce-loop-product__title {
        min-height: 55px;
    }
}

.woocommerce ul.products li.product .button {
    padding: .618em 1em;
    border-radius: 3px;
}

.woocommerce ul.products li.product .button:not(.added) {
    margin-bottom: 2em;
}

.woocommerce a.added_to_cart.wc-forward {
    padding: .5em 0;
}

.woocommerce ul.products li.product .price {
    font-size: 16px;
    color: #F66400;
    line-height: 29px;
    display: block;
    font-weight: 400;
    padding-bottom: 1.5em;
}

.woocommerce ul.products li.product .price del {
    color: #888888;
}

.woocommerce ul.products li.product .price ins {
    text-decoration: inherit;
}

.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del,
.woocommerce ul.products li.product .price ins,
.woocommerce-page ul.products li.product .price ins {
    display: inline-block;
    padding: 0 5px;
    font-weight: normal;
}

ul.products:after,
ul.products:before {
    content: "";
    display: table;
}

.woocommerce div.product .woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
    clear: none;
}

.woocommerce ul.products li.product .onsale {
    background: none repeat scroll 0 0 #ffba41;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 20px;
    left: auto;
    border-radius: 100%;
    padding: .202em;
    text-align: center;
    line-height: 3.236;
    min-height: 3.236em;
    min-width: 3.236em;
    z-index: 999;
}


/* List Product Cat */

.hkt-section.product-cat ul.products {
    margin-right: -40px;
}

.woocommerce ul.products li.product-category.product {
    border: none;
    padding: 0 40px 55px 0;
}

.woocommerce ul.products li.product-category.product a img {
    width: 100%;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title {
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    font-family: "UTM Neo"!important;
    padding: 0.5em;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title mark {
    display: none;
}

.woocommerce .woocommerce-result-count {
    float: right;
    padding-right: 10px;
}

.woocommerce .woocommerce-ordering {
    max-width: 200px;
    float: left;
    margin-right: 10px;
}

@media (max-width: 864px) {
    .woocommerce .woocommerce-result-count {
        float: none;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .woocommerce .woocommerce-ordering {
        max-width: 45%;
    }
}

.woocommerce .woocommerce-ordering select {
    border-width: 0 0 1px 0;
    font-weight: bold;
}

.term-description {
    overflow: hidden;
    padding: 65px 0;
    font-size: 24px;
    line-height: 38px;
    text-align: justify;
}

.term-description img {
    max-width: 340px;
}

.product-images-hover {
    position: relative;
    width: 100%;
    float: left;
}

.product-thumb-secondary {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.woocommerce ul.products li.product:hover .product-images-hover.change-image .product-thumb-secondary {
    opacity: 1;
}

.hkt-hover {
    display: block;
    height: 0;
    left: 0;
    opacity: 0;
    padding: 0 15px 100%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    transition: all 0s ease 0s;
    border-radius: 3px 3px 0 0;
    z-index: 10;
}

.hkt-hover:hover {
    transition: all 0.4s ease 0.1s;
    display: block;
    opacity: 0.8;
}

.hkt-hover>span {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    z-index: 0;
}

.hkt-hover>span::after {
    color: #fff;
    content: "View Product";
    left: 0;
    font-size: 18px;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    margin-top: -12px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 50%;
}

.hkt-hover::before {
    background-image: url("images/postblock_hovers.png");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 40px;
    content: "";
    height: 0;
    left: calc(50% - 100px);
    position: absolute;
    width: 0;
    z-index: 9;
}

.hkt-hover::after {
    background-image: url("images/postblock_hovers.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    top: 40px;
    content: "";
    height: 0;
    right: calc(50% - 100px);
    position: absolute;
    width: 0;
    z-index: 9;
}

.hkt-hover::before,
.hkt-hover::after {
    transition: 0s all;
}

.hkt-hover:hover::before {
    height: 80px;
    width: 80px;
}

.hkt-hover:hover::after {
    height: 80px;
    width: 80px;
}


/*Product Detail*/

.woocommerce div.product p.price {
    margin: 20px 0;
    color: #666666;
}

.woocommerce div.product form.cart .button {
    display: block;
    background-color: #f66401!important;
    box-shadow: none;
    width: 100%;
    margin: 0 auto;
    float: none;
    border: none;
    color: #ffffff!important;
    opacity: 1;
    padding: 15px 5px;
    font-size: 16px;
}

.woocommerce div.product form.cart .variations select {
    border-radius: 3px;
    border-color: #666666;
}

.woocommerce div.product form.cart div.quantity {
    float: none;
    margin-bottom: 15px;
}

.woocommerce div.product form.cart div.quantity:before {
    content: "Số lượng: ";
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

#tab-description h3 {
    font-size: 21px;
}

#tab-description h4 {
    font-size: 18px;
}

.woocommerce .related,
.woocommerce .upsells {
    clear: both;
}

.woocommerce .related>h2,
.woocommerce .upsells>h2 {
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #cfcfcf;
    margin-bottom: 25px;
}

.woocommerce .related ul.products li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .upsells.products ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce-page .related ul li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce-page .upsells.products ul li.product {
    border: inherit;
}

@media (min-width: 1200px) {
    .woocommerce div.product form.cart div.quantity:before {
        padding-right: 85px;
    }
}

.woocommerce div.product div.images .flex-control-thumbs li img {
    max-height: 90px;
}


/*Layout Scrolling*/


/*.woocommerce.tax-product_cat ul.products li.product {border: none;}*/

.hkt-box-content {
    position: relative;
    float: left;
}

.product-scrolling .product-item {
    overflow: hidden;
    width: 100%;
}

.product-scrolling .product-item:nth-child(odd) {
    background-color: #f5f5f5;
    border: solid #dddddd;
    border-width: 1px 0 1px 0;
}

.product-scrolling .product-item-inner {
    padding: 50px 0;
    overflow: hidden;
}

.product-scrolling .product-name {
    color: #3e3e3e;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.woocommerce .product-scrolling div.product span.price {
    padding: 10px 0 20px;
    color: #3e3e3e;
    font-size: 18px;
    display: block;
}

.product-scrolling .text-center {
    margin-bottom: 20px;
}

.product-scrolling .product-excerpt {
    text-align: justify;
}

.product-info-tab {
    margin-top: 50px;
}

ul.hkt-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    border-bottom: 1px solid #cfcfcf;
}

ul.hkt-tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
}

ul.hkt-tabs li.current {
    background: inherit;
    color: #222;
    border: solid #cfcfcf;
    border-width: 1px 1px 0 1px;
}

.product-info-tab .tab-content {
    display: none;
    background: inherit;
    padding: 15px;
}

.product-info-tab .tab-content.current {
    display: inherit;
}


/*==MITSSY==*/

.woocommerce div.product div.images .flex-control-thumbs {
    max-height: 60px;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    width: 12.5%;
    height: 60px;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
    min-height: 60px;
}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    clear: none!important;
}

@media (min-width: 865px) {
    .woocommerce ul.products li.product-category.product:last-child {
        width: 66.33333333%;
    }
}

@media (min-width: 1200px) {
    body.page-id-76 #page,
    body.page-id-76 .main-container,
    body.page-id-79 #page,
    body.page-id-79 .main-container,
    .page-template-landing-page #page,
    .page-template-landing-page .main-container {
        width: 100%;
    }
    {
        width: 100%;
        margin-top: 0;
    }
}

.page-id-76 ul.products {
    margin-right: -15px;
}

.page-id-76 ul.products li.product a {
    display: block;
    box-shadow: 5px 5px 10px #999999;
    border-radius: 10px;
}

.page-id-76 ul.products li.product a img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.page-id-76 h1.title,
.page-id-79 h1.title {
    display: none;
}

.hkt-section.hkt-blog {
    padding: 40px 0;
}

.hkt-blog>* {
    text-align: center;
}

.hkt-blog h2 {
    color: #4f5661;
    font-size: 36px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.hkt-blog p {
    color: #4f5661;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(79, 86, 97, 0.84);
    max-width: 640px;
    margin: 8px auto 0;
}

.featured .news-item {
    position: relative;
    border-right: 1px solid #ffffff;
}

.featured .hkt-blog-post-thumb {
    position: relative;
    float: left;
    width: 100%;
}

.featured .hkt-blog-post-thumb img {
    width: 100%;
}

.featured .hkt-blog-post-container {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 30px;
    text-align: left;
}

.featured .hkt-blog-post-container h3 {
    background-color: inherit;
}

.featured .hkt-blog-post-container h3 a {
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    font-family: "UTM Neo"!important;
    text-shadow: 2px 2px 5px #333333;
}

.blog-archive-terms {
    text-align: center;
}

article .hkt-section.blog-archive-terms ul li {
    list-style: none;
    padding: 5px 8px;
    margin-right: 10px;
    display: inline-block;
}

article .blog-archive-terms ul li a {
    color: #626469;
    font-size: 16px;
}

.slider-wrapper .hkt-list-posts .post-item {
    width: 100%;
    margin-bottom: 15px;
}

.hkt-posts .cat-box-title {
    padding-left: 15px;
}

.hkt-list-posts .post-item {
    margin-bottom: 36px;
}

.hkt-list-posts .post-item:nth-child(3n+1) {
    clear: left;
}

.hkt-list-posts .post-box-title a {
    color: #434649;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    line-height: 1.4;
    text-transform: none;
}

.hkt-list-posts .recent-item {
    background-color: #fff;
    border: 1px solid rgba(62, 67, 98, 0.19);
    border-radius: 5px;
    box-shadow: 0px 4px 14px 3px rgba(0, 0, 0, 0.12);
    margin: 0 18px;
    overflow: hidden;
}

.hkt-list-posts .recent-item img {
    width: 100%;
}

.hkt-list-posts .recent-item .post-box-title,
.hkt-list-posts .recent-item .entry {
    padding: 20px 40px;
}

.hkt-list-posts .recent-item .entry {
    padding-top: 0;
}

h1.category {
    margin: 0 0 15px 15px;
    color: #4f5661;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.archive-meta {
    padding-left: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(79, 86, 97, 0.84);
    max-width: 640px;
    margin: 8px auto 30px;
}

article [class*="block-"] img {
    width: 100%;
}

article .hkt-section img {
    margin: 0;
}

.block-1 h2 {
    font-size: 1.7em;
    line-height: 1.3;
    margin-bottom: .5em;
}

.block-1 .text h2+p {
    font-size: 150%;
}

.block-1 .text h2+p del {
    color: #999999;
}

.block-1 .text h2+p ins {
    color: #000000;
    text-decoration: inherit;
}

.block-1 .text p {
    font-size: 15px;
}

.block-1 .text a.button {
    background-color: #11519B;
    color: #ffffff;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 15px;
}

.icon-shopping-basket:before {
    content: "\e909";
}

.block-2 h3,
.block-7 h3 {
    border: 1px solid #cfcfcf;
    padding: 0px 10px 5px;
}

article .block-2 ul {
    padding-top: 15px;
}

article .block-2 ul li {
    border: 1px solid #cfcfcf;
}

article .block-2 ul li>* {
    padding: 8px 20px;
    text-align: center;
}

article .block-2 ul li h4 {
    font-size: 1.125em;
    line-height: 1.3;
}

article .block-2 ul li:hover,
article .block-2 p a:hover,
article .block-5 p a:hover,
article .block-7 p a:hover {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s, background-color .3s, color .3s, opacity .3s, -webkit-transform .3s;
    transition: transform .3s, box-shadow .3s, background-color .3s, color .3s, opacity .3s;
    transition: transform .3s, box-shadow .3s, background-color .3s, color .3s, opacity .3s, -webkit-transform .3s;
}

article .block-2 ul+p,
article .block-5 ul+p,
article .block-7 .right p {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

article .block-2 p a,
article .block-5 p a,
article .block-7 p a {
    background-color: #11519B;
    padding: 10px 40px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    display: table;
    margin: 0 auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.block-3 h3,
.block-5 h3 {
    border-bottom: 2px solid #ececec;
    text-align: left;
    display: block;
    padding-bottom: 10px;
}

.block-3 .col-md-9 img {
    width: 98%;
}

@media (min-width: 1200px) {
    .block-3 .col-md-9 {
        width: 835px;
    }
    .block-3 .col-md-3 {
        width: 335px;
    }
}

.block-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 300px;
    background-color: #888888;
}

.block-4 .left {
    padding: 0 30px 30px 0!important;
}

.block-4 .right {
    padding: 0 0 30px 30px!important;
}

article .block-4 .left p {
    padding: 10px;
    background-color: #ffffff;
}

article .block-4 h4,
article .block-4 .text h4+p {
    background-color: #f1f1f1;
    margin: 0;
    text-align: center;
    padding: 15px 40px 0;
}

.block-4 .text h4+p {
    padding-bottom: 20px!important;
    font-size: 16px;
}

article .block-4 h4 {
    text-transform: none;
}

.block-5 h3 {
    border: none;
    font-size: 200%;
}

.block-7 .left,
.block-7 .left h3 {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    border: none;
}

.block-7 .left h5 {
    padding-top: 15px;
    color: #ffffff;
}

.block-7 input.wpcf7-submit {
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 20px 30px !important;
    color: #333333;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.block-7 .hkt-tag {
    margin-top: 20px;
}

article .block-7 p a {
    display: inline-block;
}

article .block-7 .right {
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px #888888;
    margin-bottom: 25px;
}

@media (max-width: 1199px) {
    article [class*="block-"] .left,
    article [class*="block-"] .right {
        padding: 0!important;
    }
}

@media (max-width: 720px) {
    a#pull {
        display: block;
        width: 80px;
        position: relative;
        color: #ffffff;
        font-weight: bold;
        padding: 10px 0;
        text-indent: 15px;
        transform: translate(0, -122px);
    }
    .page-template-landing-page #pull {
        transform: translate(0, -67px);
    }
    #primary-navigation {
        height: 0;
    }
    .hkt-minicart .cart-text,
    .hkt-minicart .count,
    .hkt-minicart .amount {
        display: none;
    }
    .task-bar,
    .hkt-minicart {
        line-height: 56px;
    }
    .header-right.pull-right {
        float: none;
        width: 350px;
        margin: 0 auto;
    }
}

@media (min-width: 720px) and (max-width: 864px) {
    a#pull {
        color: #f00000;
    }
}



/*
* FOOTER
* ----------------------------------------------------------------------------*/

div.copyrights div.copyright>a {
    display: none;
}

div.copyrights {
    position: relative;
    padding: 10px 0;
    background: #020202;
}

div.copyrights div.copyright {
    color: #cfcfcf;
    font-size: 12px;
}

#site-footer .widget_black_studio_tinymce {
    margin-bottom: 20px;
}

footer#site-footer {
    border-top: 1px solid #cccccc;
}

footer#site-footer,
footer#site-footer .container {
    background: #EBEBEB;
}

footer#site-footer .container {
    padding-top: 20px;
    padding-bottom: 10px;
}

@media (max-width: 1199px) {
    footer#site-footer .container,
    #hk-site-footer .hk-container {
        padding: 20px 2%;
        overflow: hidden;
    }
}

footer#site-footer .container .footer-widgets {
    padding: 0;
}

footer div.widget {
    margin-bottom: 50px;
}

footer#site-footer h3 {
    padding: 0;
    margin-bottom: 20px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

footer#site-footer ul li {
    list-style: none;
    margin: 0;
}

footer#site-footer li,
footer#site-footer li a,
footer#site-footer p {
    color: #cfcece;
    font-size: 13px;
    line-height: 24px;
}

footer#site-footer li a:hover {
    text-decoration: underline;
}

footer#site-footer ul li.last {}

@media (min-width: 551px) {
    div.f-widget.f-widget-2 {}
    div.f-widget.f-widget-1 {}
    div.f-widget.f-widget-2 {}
}

@media (min-width: 1200px) {
    div.f-widget.f-widget-1 {
        width: 550px;
    }
    div.f-widget.f-widget-2 {
        width: 300px;
    }
    div.f-widget.f-widget-3 {
        width: 300px;
        padding-left: 35px;
    }
}

div.f-widget.f-widget-1,
div.f-widget.f-widget-2,
div.f-widget.f-widget-3 {
    margin: 0;
}

div.f-widget.f-widget-3 {}


/*MITSSY*/

footer#site-footer .head {
    border: medium none;
    height: 85px;
}

footer#site-footer p {
    font-size: 13px;
    font-weight: 100;
    color: #959595;
    line-height: 1.5;
}

footer#site-footer p strong {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #639c99;
    text-transform: uppercase;
}

footer#site-footer p a {
    color: #639c99;
    font-size: 14px;
}

footer#site-footer .head .tel a {
    font-size: 24px;
    color: #F66400;
    font-weight: 500;
}

footer#site-footer .facebook li {
    float: left;
    margin-right: 20px;
}

footer#site-footer .facebook li a {
    font-size: 2em;
    color: #639c99;
}

footer#site-footer .facebook li a span {
    font-size: 0;
}

footer#site-footer .facebook a img {
    max-width: 200px;
}


/*
* RESPONSIVE
* ----------------------------------------------------------------------------*/

@media screen and (min-width: 721px) {
    [class*="hkt-span"] {
        float: left;
    }
    .hkt-span3 {
        width: 25%;
    }
    .hkt-span4 {
        width: 33.3333%;
    }
    .hkt-span5 {}
    .hkt-span6 {
        width: 50%;
    }
    .hkt-span7 {}
    .hkt-span8 {
        width: 66.6666%;
    }
    .hkt-span9 {
        width: 75%;
    }
}

@media screen and (min-width: 865px) {
    .column-4 ul {
        margin-right: -5% !important;
    }
    .column-4 ul li {
        width: 20%;
        float: left;
        margin-right: 5% !important;
    }
    .column-3 ul {
        margin-right: -3.33% !important;
    }
    .column-3 ul li {
        width: 30%;
        float: left;
        margin-right: 3.33% !important;
    }
    .column-2 ul {
        margin-right: -5% !important;
    }
    .column-2 ul li {
        width: 45%;
        float: left;
        margin-right: 5% !important;
    }
}

@media (max-width: 720px) {
    a#pull {
        display: block;
        width: 81px;
        position: relative;
        color: #ffffff;
        font-weight: bold;
        padding: 10px 0;
        text-indent: 3px;
        transform: translate(0, -55px);
        font-size: 16px;
    }
    a#pull:after {
        /*top: 9px;*/
    }
    #logo img {
        max-height: 30px;
    }
    #primary-navigation {
        height: 0;
    }
    .hkt-minicart .cart-text,
    .hkt-minicart .count,
    .hkt-minicart .amount {
        display: none;
    }
    .task-bar,
    .hkt-minicart {
        line-height: 56px;
    }
    .header-right.pull-right {
        float: none;
        width: 350px;
        margin: 0 auto;
    }
}

@media (min-width: 720px) and (max-width: 864px) {
    a#pull {
        color: #f00000;
    }
}


/*
* CSS3
* ----------------------------------------------------------------------------*/


/*fade in from bottom*/

.hkt-fade {
    opacity: 0;
    -moz-transition: all 1000ms ease-out;
    -webkit-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hkt-tag #text-11.widget_text .textwidget>* {
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
}

.hkt-fade.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}


/*lazy image*/

.lazy-enabled #page img:not(.viewer-fade) {
    opacity: 0;
}

.lazy-enabled #page img.hkt-appear {
    opacity: 1;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}


/**
* Owl.Carousel: Theme Custom
* ----------------------------------------------------------------------------
*/

.slider-wrapper .woocommerce ul.products li.product {
    width: 100%;
    border: none;
}

.slider-wrapper .woocommerce ul.products li.product {
    margin-bottom: 5px!important;
}

.slider-wrapper .woocommerce span.onsale {
    min-height: 3.236em;
    min-width: 3.236em;
    padding: .202em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: 0;
    left: -.5em;
    margin: 0;
    border-radius: 100%;
    background-color: #F66400;
    color: #fff;
    font-size: .857em;
    -webkit-font-smoothing: antialiased;
    z-index: 9;
}

.owl-dots {
    padding: 0 !important;
    margin: 0;
    text-align: center;
    list-style: none;
    font-size: 0;
}

.owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    margin: 0 5px;
    padding: 0;
    -webkit-border-radius: 100%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 100%;
    -moz-background-clip: padding;
    border-radius: 100%;
    background-clip: padding-box;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.owl-dot:hover,
.owl-dot.active {
    background-color: #666666;
}

.owl-nav {
    text-align: center;
    line-height: 1;
    margin-top: 20px;
}

.owl-nav>div {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
}

.owl-nav>div i {
    color: #878787;
    font-size: 10px;
    position: relative;
    top: -1px;
    font-weight: normal;
    text-transform: none;
    letter-spacing: -0.02em;
}

.owl-nav>div:hover {
    color: #34a853;
}

.owl-nav>div:hover i {
    color: inherit;
}

.owl-nav>div+div:before {
    content: '|';
    display: inline;
    font-size: 12px;
    padding: 0 10px;
    position: relative;
    top: -1px;
    color: #dddddd;
}

.owl-nav-top>.owl-nav {
    position: absolute;
    top: -35px;
    right: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    margin-top: 0;
}

.product_list_widget.owl-nav-top>.owl-nav {
    right: 0;
}

.product_list_widget.owl-nav-top>.owl-nav>div {
    font-size: 0;
}

.product_list_widget.owl-nav-top>.owl-nav>div i {
    font-size: 10px;
}

.widget-border-background .product_list_widget.owl-nav-top>.owl-nav {
    right: 20px;
}

.widget-border .product_list_widget.owl-nav-top>.owl-nav {
    right: 10px;
}

.widget-border-round .product_list_widget.owl-nav-top>.owl-nav>div>i {
    color: #fff;
}

.widget-border-round .product_list_widget.owl-nav-top.owl-nav-round>.owl-nav>div i {
    color: #878787;
}

.widget-border-round .product_list_widget.owl-nav-top.owl-nav-round>.owl-nav {
    top: -25px;
}

.widget-border-round .product_list_widget.owl-nav-top.owl-nav-square>.owl-nav {
    top: -27px;
}

.widget-border-round-background .product_list_widget.owl-nav-top>.owl-nav {
    top: -30px;
}

.widget-border-round-background .product_list_widget.owl-nav-top.owl-nav-round>.owl-nav,
.widget-border-round-background .product_list_widget.owl-nav-top.owl-nav-square>.owl-nav {
    top: -15px;
}

.widget-classic-no-border .product_list_widget.owl-nav-top.owl-nav-round>.owl-nav,
.widget-classic-no-border .product_list_widget.owl-nav-top.owl-nav-square>.owl-nav {
    top: -25px;
}

@media (min-width: 1350px) {
    .owl-nav-center>.owl-nav {
        margin-top: 0;
    }
    .owl-nav-center>.owl-nav>div {
        position: absolute;
        top: 50%;
    }
    .owl-nav-center>.owl-nav>.owl-prev {
        left: -20px;
        -webkit-transform: translate(-100%, -50%);
        -moz-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
        -o-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%);
    }
    .owl-nav-center>.owl-nav>.owl-next {
        right: -20px;
        -webkit-transform: translate(100%, -50%);
        -moz-transform: translate(100%, -50%);
        -ms-transform: translate(100%, -50%);
        -o-transform: translate(100%, -50%);
        transform: translate(100%, -50%);
    }
    .owl-nav-center:not(.owl-nav-round):not(.owl-nav-square)>.owl-nav>div+div:before {
        padding: 0 10px 0 0;
    }
    .owl-nav-center:not(.owl-nav-round):not(.owl-nav-square)>.owl-nav>.owl-prev:after {
        content: '|';
        display: inline;
        font-size: 12px;
        padding: 0 0 0 10px;
        position: relative;
        top: -1px;
        color: #dddddd;
    }
    .owl-nav-center.owl-nav-round>.owl-nav>div+div,
    .owl-nav-center.owl-nav-square>.owl-nav>div+div {
        margin-left: 0;
    }
}

.owl-nav-round>.owl-nav>div+div {
    margin-left: 5px;
}

.owl-nav-round>.owl-nav>div+div:before {
    display: none;
}

.owl-nav-round>.owl-nav>div {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #eee;
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 0;
    vertical-align: middle;
}

.owl-nav-round>.owl-nav>div i {
    font-size: 14px;
    position: static;
    line-height: 40px;
}

.owl-nav-square>.owl-nav>div+div {
    margin-left: 5px;
}

.owl-nav-square>.owl-nav>div+div:before {
    display: none;
}

.owl-nav-square>.owl-nav>div {
    width: 36px;
    height: 36px;
    text-align: center;
    border: 1px solid #eeeeee;
    font-size: 0;
}

.owl-nav-square>.owl-nav>div i {
    position: static;
    line-height: 34px;
}

.heading-style_03 .owl-nav-top.owl-nav-square>.owl-nav,
.heading-style_02 .owl-nav-top.owl-nav-square>.owl-nav,
.heading-style_03 .owl-nav-top.owl-nav-round>.owl-nav,
.heading-style_02 .owl-nav-top.owl-nav-round>.owl-nav {
    top: -25px;
}

@media (max-width: 320px) {
    .owl-nav-top>.owl-nav>div {
        font-size: 0;
    }
    .owl-nav-top>.owl-nav>div i {
        font-size: 10px;
    }
    .owl-nav-top.owl-nav-round>.owl-nav>div {
        width: 30px;
        height: 30px;
    }
    .owl-nav-top.owl-nav-round>.owl-nav>div i {
        font-size: 10px;
        line-height: 30px;
    }
    .owl-nav-top.owl-nav-round>.owl-nav>div+div {
        margin-left: 2px;
    }
}

.my_procedure_home {
    background-image: url(../images/homexinh_quytrinh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.my_procedure_home .divbg:hover {
    background: rgba(255, 255, 255, 0.16);
    border: 3px solid white;
    transition: all ease 0.5s;
}

.my_procedure_home .divbg {
    width: 180px;
    height: 180px;
    background: rgba(0, 147, 221, 0.75);
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid transparent;
    cursor: pointer;
    margin-bottom: 30px;
}

.my_procedure_home .divbg span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 180px;
}

.copyright_footer {
    background: #c2c2c2;
    font-size: 12px;
}

.hkt-content {
    margin-bottom: -10px;
}

/** Custom css*/
.header-right, .header-right p, .header-right a{
        color: #ff0101;
}
#menu-menuheade-mobie{
    display: flex;
    justify-content: space-between;
}