/* CSS Main */

*{
	font-family: "Roboto";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
:active, :focus{
	outline: none;
}
a{
	color: #666666;
	text-decoration: none;
}
a:hover{
	color: #399CB1;
	text-decoration: none;
}
body{
	color: #333333;
	font-size: 0.9em;
}
body, h1, h2, h3, h4, h5, h6, form, input, select, ul{
	margin: 0px;
}
h1, h2{
	font-size: 18px;
	font-weight: normal;
}
h3 {
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}
h1.title, h2.title{
	color: #E63D79;
	font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 12px;
}
h2.title{
	font-size: 20px;
}
img{
	border: none;
	-ms-interpolation-mode: bicubic;
}
p.p_first{
	margin-top: 0px;
}
p.p_last{
	margin-bottom: 0px;
}
ul, li{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.absolute{
	position: absolute;
}
.break_line, .break_module, .break_module_line, .break_content, .break_content_line, .clear{
	background: transparent;
	display: block;
	clear: both;
	font-size: 0px;
	line-height: 0px;
	overflow: hidden;
}
.break_line, .break_module_line, .break_content_line{
	background: url(line_h.gif) no-repeat center;
}
.break{
	height: 6px;
}
.break_line{
	height: 24px;
}
.break_module{
	height: 24px;
}
.break_module_line{
	height: 32px;
}
.break_content{
	height: 48px;
}
.break_content_line{
	height: 48px;
}
.clear{
	height: 0px;
}
.fl{
	float: left;
}
.fc{
	float: left;
}
.fe{
	float: right;
}
.fr{
	float: right;
}
.hidden{
	display: none;
}
.nowrap{
	white-space: nowrap;
}

/*** Configuration Layout ***/
#body{
	background-position: center 12px;
	background-repeat: no-repeat;
}
#container_body{
	padding-bottom: 0px;
	width: 100%;
	background: #fff;
	height: auto;
	min-height: 100%;
}
#container_body, #container_header, #container_content, #container_footer{
	clear: both;
	width: 100%;
}
#container_header{
	overflow: hidden;
}
#container_content{
	overflow: hidden;
}
#container_content_left, .container_content_center{
	height: 100%;
	overflow: hidden;
}
#container_content_center{
	width: 100%;
	overflow: hidden;
}
#container_content_center{
	width: 100%;
	overflow: hidden;
}
#container_slide{
	width: 100%;
	overflow: hidden;
	position: relative;
}
#container_banner{
	position: relative;
	overflow: hidden;
}

#container_footer{
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 0 0 0 0;
}
/*-- End Configuration Layout --*/