.pagination{
	width: 100%;
	text-align: center;
}
.pagination .page{
	color: #333;
	display: inline-block;
	font-size: 14px;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #ddd;
	background-color: #FFF;
	margin-left: -5px;
}
.pagination .selected {
	color: #FFF;
	background-color: #d9534f;
}
.fl{
	float: left;
}
.clear{
	clear: both;
}