#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Arial, sans-serif; 
  height: 65px;
  margin: 0 auto;
  padding: 0 15px;
  float: right;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:hover {
	background-color: #000000;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  padding: 0 20px;
  font-size: 0.9em;
  line-height: 64px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  content: "";
  transition: border-color 0.2s ease;
}

#cssmenu ul ul ul {
  margin-left: -100%;
  top: 0;
}
#cssmenu ul li:hover > ul > li {
    height: 64px;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  border: 1px solid #ccc;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu ul ul li {
  min-width: 230px;
  height: 60px;
  background: #ffffff;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul ul li a {
  padding: 2px 14px;
  line-height: 60px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul ul li a {
  padding: 2px 14px;
  line-height: 60px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  background-color: rgba(0,0,0,.15);
}

@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
    padding: 0px;
    float: none;
    position: relative;
    z-index: 1;
  }
  #cssmenu ul li, #cssmenu ul ul li, #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
	}
	#cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu ul ul li {
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
  }
  #cssmenu > ul > li > a {
    border-bottom: 1px dotted #222;
    background-image: linear-gradient(to bottom, #1A1A1A 0px, #040404 100%) !important;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    overflow: hidden;
  }
  #cssmenu ul li a {
    width: 100%;
    font-size: 13px;
  }
  #cssmenu ul ul li a {
    padding: 0 25px;
    line-height: 60px;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    overflow: hidden;
  }
  #cssmenu ul.open {
    width: 100%;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 32px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #ffffff;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 30px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 65px;
    width: 65px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::before {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffffff;
    content: "";
    transition: border-color 0.2s ease;
    z-index: 99;
  }
  #cssmenu .submenu-button::after {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffffff;
    content: "";
    transition: border-color 0.2s ease;
    z-index: 99;
  }
  
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}
