/* CSS Document */

.LeftFrameIcon, .LeftFrameIcon_hover{
	position: absolute;
	top: 47%;
	cursor: pointer;
}
.LeftFrameIcon{
	filter: alpha(opacity=50);
	-moz-opacity: .50;
	-khtml-opacity: .50;
	opacity: .50;
}
.LeftFrameIcon_hover{
	filter: alpha(opacity=99);
	-moz-opacity: .99;
	-khtml-opacity: .99;
	opacity: .99;
}

a{
	color:#004000;
	text-decoration:none;
}
a:hover{
	color:#e86402;
}
body{
	background:#FFFFFF;
	font-family:Tahoma, Verdana, Arial;
	scrollbar-3d-light-color:#30a602;
	scrollbar-arrow-color:#FF0000;
	scrollbar-base-color:#f2f2f2;
	scrollbar-dark-shadow-color:#CCCCCC;
	scrollbar-face-color:#e1f6e1;
	scrollbar-highlight-color:#f2f2f2;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-track-color:#f5e7de;
	margin:1px;
}
img{
	border:none;
}
.clear{
	font-size:0px; /* for IE -- avoid any space from phantom text */
	height:1px;
	background:transparent; /* for IE -- avoid space from inherited filters */
	margin-bottom:-1px;
	clear:both;
}

/*********** Form ************/
form{
	padding:0px;
	margin:0px;
}
.form_asterisk{
	font-size:12px;
	color:#FF0000;
}
.form_button{
	border:none;
	font-size:11px;
	color:#D93404;
	padding-bottom:2px;
	width:85px;
	height:20px;
}
.form_button_arrow{
	font-family:Arial, Helvetica;
	font-size:11px;
	font-weight:normal;
	width:26px;
}
.form_control, .form_search{
	font-family:Tahoma, Verdana, Arial;
	padding:1px;
}
.form_control{
	background-color:#F2F2F2;
	border:1px #CCCCCC solid;
	font-size:11px;
}
.form_errorMsg{
	font-size:8pt;
	color:#FF0000;
}
.form_name, .form_name_2{
	font-size:12px;
	color:#004000;
	text-align:right;
}
.form_name_2{
	white-space:nowrap;
}
.form_name_3{
	font-size:11px;
	font-weight:bold;
	color:#004000;
	white-space:nowrap;
	text-align:right;
}
.form_search{
	font-size:11px;
	color:#004000;
	text-decoration:none;
}
.form_text{
	font-size:11px;
	color:#004000;
}
.form_text_note{
	font-size:10px;
	color:#666666;
}
/*****----- End Form -----******/

/*********** Header ************/
.change_profile, .log_off{
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
.change_profile{
	color:#009933;
}
.log_off{
	color:#FF0000;
}
.text_welcome{
	font-size:12px;
	color:#e86402;
}
.title_page{
	font-size:20px;
	font-weight:bold;
	color:#000066;
}
.userlogin{
	font-size:13px;
	font-weight:bold;
	color:#000099;
}
/*****----- End Header -----******/

/*********** Content ************/
.bg_title_content{
	border:1px #45c647 solid;
	border-bottom:none;
	background:url(../images/bgTitleContent.gif) repeat-x;
	height:28px;
}
.check_data{
	font-size:11px;
	color:#0000FF;
}
.content{
	padding:5px;
	border:1px #45c647 solid;
}
.content_title{
	font-size:13px;
	font-weight:bold;
	color:#30a602;
	padding:5px 10px 5px 10px
}
.content_title a{
	color:#30a602;
	text-decoration:none;
}
.content_title a:hover{
	text-decoration:underline;
}
.count{
	color:#FF3300;
}
.hits{
	color:#FF0000;
	font-weight:bold;
	text-align:right;
}
.image_style{
	width:72px;
	height:72px;
	overflow:hidden;
}
.image_style img{
	max-height:72px;
	max-height:72px;
	border:none;
}
.load_data{
	font-size:11px;
}
.No{
	font-size:12px;
	font-weight:bold;
	color:#FF6633;
	text-align:center;
}
.on_check{
	background:#FFFFAA;
}
.on_uncheck{
	background:#fefefe;
}
.order_code{
	font-size:8pt;
	font-weight:bold;
	color:#FF0000;
}
.page, .page_current{
	font-size:11px;
	text-decoration:none;
}
.page{
	color:#0371b3;
}
.page_current{
	color:#e86402;
}
.percent{
	font-size:10px;
	white-space:nowrap;
}
.table{
	background-color:#fefefe;
	border:1px #e5e3e6 solid;
	border-collapse:collapse;
	font-size:11px;
	color:#004000;
}
.table_title_1, .table_title_2, .table_title_3{
	font-size:10px;
	font-weight:bold;
	height:20px;
	text-align:center;
}
.table_title_1{
	background:#f5e7de;
	color:#e86402;
}
.table_title_2{
	background:#e5fae9;
	color:#30a602;
}
.table_title_3{
	color:#000099;
}
.text_normal_red, .text_link, .text_link_bold, .text_normal, .text_normal_bold{
	font-family:Verdana, Arial;
	font-size:8pt;
}
.text_link{
	text-decoration:underline;
}
.text_link_bold{
	font-weight:bold;
	color:#e86402;
}
.text_link_bold:hover{
	text-decoration:underline;
}
.text_normal_bold{
	font-weight:bold;
}
.text_normal_red{
	color:#FF0000;
}
.top{
	font-size:11px;
	color:#0371b3;
}
.view{
	font-size:10px;
	color:#0000FF;
	text-decoration:underline;
}
.view:hover{
	color:#FF0000;
}
/*****----- End Content -----******/

/*
### Tooltip here ###
*/
#dhtmltooltip{
	border-right: black 1px solid;
	padding-right: 4px;
	border-top: black 1px solid;
	padding-left: 4px;
	font-size: 10pt;
	z-index: 100;
	filter: alpha(opacity=99);
	-moz-opacity: .99;
	-khtml-opacity: .99;
	opacity: .99;
	left: -300px;
	visibility: hidden;
	padding-bottom: 4px;
	border-left: black 1px solid;
	padding-top: 4px;
	border-bottom: black 1px solid;
	font-family: Arial;
	position: absolute;
	background-color: lightyellow;
}
#dhtmlpointer{
	z-index: 101;
	left: -300px;
	visibility: hidden;
	position: absolute;
}
/*
--- End Tooltip here ---
*/