.option-item .ui-slider, .mo-panel .ui-slider-range{
	background-color: #DFDFDF;
	height: 5px;
	position: relative;
	text-align: left;
	width: 218px;
	float: left;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	margin: 12px 12px 0 0;
}
.option-item .ui-slider-range{	margin:0; background-color: #666; }
.option-item .ui-slider-handle {
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	background-color: #0074a2;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	font-weight: normal;
	color: #555;
	top: -.5em;
	margin-left: -1px;
	cursor: pointer;
	-webkit-box-shadow: none !important;
	box-shadow: none  !important;
}
.home-builder-buttons{ margin:10px 0 20px; overflow: hidden;}
.home-builder-buttons a{
	position: relative !important;
	width: 16.66666666666667% !important;
	float: left;
	display: block;
	margin: 0 0 5px;
	cursor: pointer;
	padding: 0 2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.home-builder-buttons a img{
	max-width: 100%;
	height: auto;
}

#add-divider{margin-right:0;}
#cat_sortable li.removered .widget-head , #sidebarsList li.removered .widget-head , #customList li.removered .widget-head {background: #ff0000;}
#cat_sortable li.removered .widget-content, #hkt-slider-items li.removered  .widget-content , #hkt-reviews-list li.removered{ background:#ffeded;}
#collapse-all, #expand-all{font-size:11px;float:right;margin-left:10px;margin-right:3px;cursor:pointer;color:#888;}
#collapse-all:hover, #expand-all:hover{color:#000; text-decoration:underline;}

#cat_sortable .widget-head{
	position: relative;
	padding-left: 45px;
}
#cat_sortable .widget-head img {
	left: 4px;
	position: absolute;
	padding: 1px;
	border: 1px solid #FFF;
	opacity: .5;
	top: 4px;
}

#hkt_add_review_criteria{margin:10px 10px 0;}


#hkt-slider-items .widget-content {
	background:#fff;
	padding: 10px;
	position:relative;
}
#hkt-slider-items  .widget-content label {
	line-height: 25px;
	display:block;
	padding:7px 0;
}
#hkt-slider-items  .widget-content label span {
	padding-right: 5px;
	width:95px;
	display:inline-block;
}
#hkt-slider-items .widget-content textarea{
	width:482px;
	height:50px;
}
#hkt-slider-items li{
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}
#hkt-slider-items  .slider-img{
	display: inline;
	float: right;
	margin: 0;
	overflow: hidden;
	width: 120px;
	height: 120px;
	border: 2px solid rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	z-index: 999;
}
#hkt-slider-items img { min-height:120px; min-width:120px; margin:0;}
#hkt-slider-items .del-cat { bottom:10px; top:auto;}

.slide-caption{
	float: left;
}


.del-cat {
	background:#e65f4a url(images/trash.png) no-repeat center ;
	display: block;
	z-index:5;
	width: 30px;
	height: 20px;
	float: right;
	cursor: pointer;
	position:absolute;
	top:10px;
	right:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	opacity: .7;
}
.del-cat:hover{opacity: 1;}

/*
* HKT CUSTOM STYLE
* ----------------------------------------------------------------------------*/
#nhp-opts-header a, #nhp-opts-footer div#nhp-opts-share, #nhp-opts-form-wrapper li#import_export_default_section_group_li,
li#toplevel_page_mts-install-plugins
{display: none;}
table.xdebug-error.xe-warning {display: none;}
#redux-header .rAds {visibility: hidden;}
.redux-section-indent-start h3 {
    margin: 0;
    padding: 5px 15px;
    background-color: #eee;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: 700;
}

#nhp-opts-header span {font-weight: bold;font-size: 20px;}

/* MENU Admin */
.menu-item-edit-active div.menu-item-settings {overflow: hidden;}
ul#menu-to-edit .hidden-field, ul#menu-to-edit .nav-menus-php .blank-slate .menu-settings {display: block !important;}

/* Metabox Style */
div.rwmb-input input[type=text], div.rwmb-input input[type=number] {width: 200px;}
div.rwmb-input textarea.large-text {max-width: 400px;min-height: 200px;}
.hkt-label, .hkt-input {vertical-align: top;float: left;}
.hkt-label {width: 10%;}
.hkt-input {width: 90%;}
.hkt-field {margin: 0 0 10px;}
.hkt-field input, .hkt-field select {width: 160px;}
.hkt-field:before, .hkt-field:after {content: " ";display: table;}
.hkt-field:after {clear: both;}

#hkt_post_seeting_metabox {display: block;overflow: hidden;}
#hkt_post_seeting_metabox .label, #hkt_post_seeting_metabox .input {vertical-align: top;float: left;margin-bottom: 10px;}
#hkt_post_seeting_metabox .label {width: 25%;display: none;}
#hkt_post_seeting_metabox .input {width: 100%;}
.hkt_sidebar_location_fields div.input > label {margin-right: 10px;}

/* Option Css */
.redux-container-gallery .screenshot img {max-height: 150px;width: 235px !important;}

/* Admin CSS */
#2_section_group_li {
	display: none!important;
}
.tagcloud {
	display: none;
}
#postexcerpt .inside p {
	display: none;
}
textarea#excerpt {
	height: 250px;
}
li#toplevel_page_hkt_options ul li:last-child, li#toplevel_page_hkt_options ul li:nth-child(4),
li#wp-admin-bar-hkt_options_3, li#wp-admin-bar-hkt_options_4,
ul.redux-group-menu > li:last-child, ul.redux-group-menu li:nth-child(5) {
	display: none;
}
div#redux-header {
	display: none;
}
ul.select2-choices.ui-sortable {
	padding: 5px;
	background: #C6FDF4;
	border: 1px solid #6BC9BA;
}

li.select2-search-choice {
	border-radius: 0px!important;
	background: #137D6C!important;
	border: 1px solid #137D6C!important;
	color: #fff!important;
	height: 22px!important;
	line-height: 22px!important;
	padding: 4px 22px!important;
	margin: 0px!important;
	margin-right: 8px!important;
}
.error.notice {
	display: none;
}
a.select2-search-choice-close {
	background-color: #FEFFFF;
	margin-top: 5px;
	border-radius: 50%;
	margin-right: 5px!important;
}

.widgets-holder-wrap.closed .widget {
	/*display: block!important;*/
}
div#widgets-right .sidebar-description {
	min-height: 0px!important;
	margin-top: 0px!important;
}
div#widgets-right .widgets-sortables {
	min-height: inherit!important;
}
.sidebar-name-arrow {
	display: none!important;
}
ul#adminmenu {
	background-color: #0A3E71;
}

div#wpadminbar {
	background: #0A3E71;
}
#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
	background-color: #022C54;
}
#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
	background-color: #022C54;
}
#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
	background-color: #022C54;
}
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
	background-color: #0A3E71;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	border-right-color: #0A3E71;
}
#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
	background: #022C54;
	color: #47D8FF;
}
#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
	background: #022C54;
}
.updatedredux-notice{
	display: none;
}
